* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("../img/login_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login {
    width: 380px;
    height: min-content;
    padding: 14px 24px;
    border-radius: 12px;
    background: #ffffff;
}

.login img {
    height: 80px;
    display: flex;
    margin: auto;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
    text-transform: uppercase;
}

.login form p {
    font-size: 16px;
    text-align: center;
}